.shimmer-effect-container-widget {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e9e6e6;
}

.shimmer-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0) 100%);
    animation: shimmer 1.5s infinite;
    z-index: 1;
  }
  
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(100%);
    }
  }