/* image-widget.css */
@import url('../root.css');

/* ===== SIZE MODIFIERS ===== */
.image-container-widget--xsmall {
    border-radius: 4px;
    max-width: 48px;
    max-height: 48px;
}

.image-container-widget--small {
    border-radius: 6px;
    max-width: 64px;
    max-height: 64px;
}

.image-container-widget--medium {
    border-radius: 8px;
    max-width: 96px;
    max-height: 96px;
}

.image-container-widget--large {
    border-radius: 12px;
    max-width: 128px;
    max-height: 128px;
}

.image-container-widget--xlarge {
    border-radius: 16px;
    max-width: 192px;
    max-height: 192px;
}

/* ===== BASE COMPONENTS ===== */
.image-container-widget {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    width: fit-content !important;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;

    &.loaded {
        background-color: transparent !important;
    }

    /* ===== VARIATIONS ===== */
    &.image-container-widget--circle {
        border-radius: 50%;
    }

    &.image-container-widget--rounded-sm {
        border-radius: 4px;
    }

    &.image-container-widget--rounded-lg {
        border-radius: 16px;
    }

    &.image-container-widget--bordered {
        border: 2px solid var(--default-border-color);
    }

    &.image-container-widget--shadow {
        box-shadow: 0 4px 8px var(--shadow-color-10);
    }
}

.image-widget {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 0.3s ease;

    &.loaded {
        opacity: 1;
    }

    /* ===== VARIATIONS ===== */
    &.image-widget--rounded {
        border-radius: 50%;
    }

    &.image-widget--shadow {
        box-shadow: 0 2px 4px var(--shadow-color-10);
    }

    &.image-widget--border {
        border: 2px solid #fff;
    }

    &.image-widget--hover-effect {
        &:hover {
            transform: scale(1.03);
            cursor: pointer;
            box-shadow: 0 6px 12px var(--shadow-color-15);
        }
    }

    /* ===== STATES ===== */
    &:hover.image-widget--hover-effect {
        transform: scale(1.03);
        cursor: pointer;
    }
}