.bottomsheet-widget {
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2rem;
    padding-top: 3rem;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .bottomsheet-handle-widget {
        width: 48px;
        height: 4px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.12);
        border-radius: 2px;
        margin: 0 auto 24px;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }
}